body{
    margin:0px;
    padding:0px;
    font-family:tahoma;
    background-image: url('https://codehs.com/uploads/4b663b2c4d93d61668cf2ca6d52074d0');
    background-size: cover;
    align-items:center;
    text-align:center;
    justify-content:center;
}
#search {
    margin-top: 100px;
    height: 30px;
    width: 50%;
    margin-left:25%;
    text-align: center;
    background-color: rgb(220,80,160);
    border: solid 5px;
    border-color: rgb(203,71,152);
    border-radius: 10px;
    align-items:center;
}
#search::placeholder {
    color: white;
    opacity: 1;
}
#search::ms-input-placeholer {
    color: white;
}
.games {
    margin-top: 50px;
}
.game-button {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.73));
    aspect-ratio: 1;
    width: 115px;
    border: 10px 10px black;
    border-radius: 10px;
    padding-top: 65px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
    transition: all 0.5s;
    color: white;
    background-size: cover;
}
.game-button:hover {
    transform: scale(1.1);
    outline:25px;
}
#gamesmenu {
    background-image: url('./image/games.png');
}
.right {
    margin-left: auto;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}